## Folders to be ignored (only for galaxy tool)
codes/

# ignore imzML and ibd files recursively. 
# **.imzML
# **.ibd

## R History and session data files
.RData
.Rhistory
.Rapp.history

## Others
.DS_Store
*.swp
*.*~
#*#
.#*
